NUXT_PUBLIC_SHOW_PRICING=false
NUXT_PUBLIC_DOWNLOADS_MANIFEST_URL=https://downloads.inquiraai.com/latest.json
NUXT_CLOUDFLARE_D1_BINDING=DB
SUPABASE_URL=
SUPABASE_KEY=
CLOUDFLARE_WORKER_NAME=
CLOUDFLARE_D1_DATABASE_NAME=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_ACCOUNT_ID=
